extends ../layouts/base.pug

block config
    - var bodyClass = 'sb-nav-fixed'
    - var pageTitle = 'Ari Asercion';
    - var index = true;
    
block content 
  #layout.pure-g

    .hero-shot.pure-u-1
      #bannerImage
        img.pure-img.hero-shot-img(src="assets/forest.jpg")

    .pure-u-1.pure-u-md-6-8.centered
        .pure-u-1.section
          h1 Ari Laurel
          .pure-u-1
            a.section-link(href='writing') Writing
            a.section-link(href='extra') Extras
            a.section-link(href='contact') Contact
          .pure-u-3-5
            p.oswald #{intro}


