extends ../layouts/base-sidebar.pug

block config
    - var bodyClass = 'sb-nav-fixed'
    - var pageTitle = 'Ari Asercion';
    - var index = true;
    
block content 
  #layout.pure-g

    .hero-shot.pure-u-1
      img.pure-img.hero-shot-img(src="assets/temple.jpg")

    .pure-u-1.pure-u-md-6-8.centered
        .pure-u-1.section
          .pure-u-3-5
              each item, i in journals
                .card
                  p= item.journal
                  a.journal-link(href=item.link)= item.linkText
                  p= item.additionalInfo


