@import url("https://fonts.googleapis.com/css?family=Oswald");
@import url("https://fonts.googleapis.com/css?family=Quattrocento");

body {
  font-family: "Open Sans", sans-serif;
  line-height: 1.75em;
  font-size: 22px;
  background-color: #222;
  color: #aaa;
}

.nav {
  margin-top: 10vw;
  position: fixed;
}

.centered {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

@media (min-width: 48em) {
}

a,
a:visited {
  color: #ae8d09;
}

a:hover {
  color: #858585;
}

h1 {
  font-size: 48px;
  font-family: "Oswald";
}

p {
  font-family: "Quattrocento";
}
